page-det-contact {
    .completer-input {
        border: 0px;      
      }
      .completer-dropdown {
        width: 100% !important;
        position: relative !important;
        z-index:99999;
    }
}
